/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.select-box {
  margin-bottom: 10px;
}

.textarea {
  height: 300px;
}

.submit-button {
  margin-top: 10px;
}

.outputbox {
  margin-top: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgb(89, 89, 89);
  font-family: 'Roboto', sans-serif;
}